<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student MS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="mycss/bootstrap.css">
</head>
<body>

<div class="container pt-5">
  <a href="/addstudent" class="btn btn-success">Add</a>
  <a href="/logout" class="btn btn-warning">Logout</a>
  <h2>Student List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each result}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phone}}</td>
        <td><button class="btn btn-danger delete-btn">Delete</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $('.delete-btn').click(function(){
    var row_id = $(this).parent().parent().children().first().html();

    $.ajax({
      type:'post',
      url:'/deletestudent',
      data:{id:row_id},
      success:function(data){
        
      }
    });
  });
</script>
</body>
</html>
